<ion-view view-title="Home">
    <ion-content class="padding" ng-controller="homeConttroller">

        <a href="/#/lists/Journal">
            <button class="button button-outline button-positive">
                Journal
            </button>
        </a>

        <a href="/#/lists/Météo">
            <button class="button button-outline button-positive">
                Météo
            </button>
        </a>

        <a href="/#/lists/Téléfilm Policier">
            <button class="button button-outline button-positive">
                Téléfilm Policier
            </button>
        </a>

    </ion-content>
</ion-view>
