<ion-view view-title="Home">
    <ion-content class="padding" ng-controller="ListsConttroller">
        <div class="souhaits souhaits-film">
            <!-- Partie des souhaits de film -->
            <!-- TODO: Formulaire qui renvoi tous les souhaits cliqués dans la page list-->

            <h2>Films</h2>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" checked ng-click="addCategory('film-policier')">
                <span>Policier</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-action')">
                    <span>Action</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('Comedie')">
                    <span>Comédie</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-science-fiction')">
                    <span>Science Fiction</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('Dessin animé')">
                    <span>Dessin animé</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('Catastrophe')">
                    <span>Catastrophe</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('Drame')">
                    <span>Drame</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-fantastique')">
                    <span>Fantastique</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-aventures')">
                    <span>Aventures</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-sentimental')">
                    <span>Sentimental</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-historique')">
                    <span>Historique</span>
                </label>
            </div>
            <div class="boutonsouhait">
                <label>
                    <input type="checkbox" ng-click= "addCategory('film-horreur')">
                    <span>Horreur/ Suspense</span>
                </label>
            </div>
        </div>

            <!--
            <a href="/#/lists/Comedie">
                <button class="button button-outline button-positive">
                    Comédie
                </button>
            </a>
            <a href="/#/lists/film-science-fiction">
                <button class="button button-outline button-positive">
                    Science-Fiction
                </button>
            </a>
            <a href="/#/lists/Dessin animé">
                <button class="button button-outline button-positive">
                    Dessin animé
                </button>
            </a>
            <a href="/#/lists/Catastrophe">
                <button class="button button-outline button-positive">
                    Catastrophe
                </button>
            </a>
            <a href="/#/lists/Drame">
                <button class="button button-outline button-positive">
                    Drame
                </button>
            </a>
            <a href="/#/lists/film-fantastique">
                <button class="button button-outline button-positive">
                    Fantastique
                </button>
            </a>
            <a href="/#/lists/film-aventures">
                <button class="button button-outline button-positive">
                    Aventures
                </button>
            </a>
            <a href="/#/lists/film-sentimental">
                <button class="button button-outline button-positive">
                    Sentimental
                </button>
            </a>
            <a href="/#/lists/film-historique">
                <button class="button button-outline button-positive">
                    Historique
                </button>
            </a>
            <a href="/#/lists/film-horreur">
                <button class="button button-outline button-positive">
                    Horreur/ Suspense
                </button>
            </a>-->
        <div class="souhaits souhaits-serie">
            <h2>Séries TV</h2>
            <a href="/#/lists/Serie-comedie">
                <button class="button button-outline button-positive">
                    Comédie
                </button>
            </a>
            <a href="/#/lists/Divertissement-humour">
                <button class="button button-outline button-positive">
                    Humoristique
                </button>
            </a>
        </div>
        <div class="souhaits souhaits-autre">
            <h2>Documentaires</h2>
            <a href="/#/lists/Film documentaire">
                <button class="button button-outline button-positive">
                    Documentaires
                </button>
            </a>
            <a href="/#/lists/Animalier">
                <button class="button button-outline button-positive">
                    Animalier
                </button>
            </a>

        <div class="souhaits souhaits-autre">
            <h2>Autres</h2>
            <a href="/#/lists/Journal">
                <button class="button button-outline button-positive">
                    Journal
                </button>
            </a>
            <a href="/#/lists/Météo">
                <button class="button button-outline button-positive">
                    Météo
                </button>
            </a>

        </div>
        </div>

        <div class="valider">
          <div class="img-validate">
            <input type="hidden" name="name" value="{{categorie}}">
            <button type="button" name="button" ng-click="getCategory(categorie)"><img src="img/checked.png" alt="" /></button>
          </div>
        </div>

    </ion-content>
</ion-view>
