<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="souhaits-film">
            <h2>Films</h2>
            <a href="/#/lists/Policier">
                <button class="button button-outline button-positive">
                    Policier
                </button>
            </a>

            <a href="/#/lists/Action">
                <button class="button button-outline button-positive">
                    Action
                </button>
            </a>

            <a href="/#/lists/Science-fiction">
                <button class="button button-outline button-positive">
                    Science-Fiction
                </button>
            </a>

            <a href="/#/lists/Comedie">
                <button class="button button-outline button-positive">
                    Comédie
                </button>
            </a>
        </div>
        <div class="souhaits-serie">
            <h2>Séries TV</h2>
            <a href="/#/lists/Serie-comedie">
                <button class="button button-outline button-positive">
                    Comédie
                </button>
            </a>

        </div>
        <div class="souhaits-autre">
            <h2>Autres</h2>
            <a href="/#/lists/Journal">
                <button class="button button-outline button-positive">
                    Journal
                </button>
            </a>
            <a href="/#/lists/Météo">
                <button class="button button-outline button-positive">
                    Météo
                </button>
            </a>
        </div>


    </ion-content>
</ion-view>
