a {
    display: inline-block;
}
.has-header {
    top:88px;
}
.bar-second {
    top: 44px;
    background-color: #3481AA !important;
}
.bar.bar-stable {
    background-color: #53AFE0;
    border: none;
}
.bar.bar-stable .title {
    color: #fff;
}
.bar-stable .button.button-clear {
    color: #fff;
}
.img-info {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #3481AA;
}
.img-info h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: #000;
    font-size: 20px;
}
.img-film {
    width: 100%;
    height: auto;
}
.img-chaine {
    position: absolute;
    bottom: 5%;
    left: 10px;
    width: 10%;
    height: auto;
}
.heure {
    position: absolute;
    bottom: 5%;
    left: 15%;
    font-size: 15px;
    color: #fff;
}
.temps {
    position: absolute;
    bottom: 5%;
    right: 15%;
    font-size: 15px;
    color: #fff;
}

/* Bouons */

h2{

    border-bottom: 1px lightgrey solid;}
.souhaits button{
    margin: 5px 5px 10px 5px;
}